/* dislplay background image, background.jpg */
body {

		background-image: url("../images/bg.jpg");
			background-repeat: no-repeat;
			background-size: 100% auto;
      font-family: Arial, Helvetica, sans-serif; 
	   font-size: .6 em; }
	
/* Georgia, Times New Roman or serif font face */	
h1 
{

    -webkit-box-shadow: 5px 5px 5px #000033;
    -moz-box-shadow: 5px 5px 5px #000033;
    box-shadow: 5px 5px 5px #000033;
		margin-bottom: 0;
		background-position:right;
		padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    }
		
/* Georgia, Times New Roman or serif font face */			
h2 { 



      font-family: Georgia, Times New Roman, serif;
      text-shadow: 1px 1px 1px #ccc; }
/* Georgia, Times New Roman or serif font face */	
h3 {

      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 2px 1px 1px #000;
      
     }
/*20px of padding on the left, 5px on the right, top and bottom*/
/*Bold Text*/	
#nav { 
       padding: 20px 5px 5px 20px; 
	   font-weight: bold;
	   float: left;
	   width: 150px;
	  -webkit-box-shadow: 5px 5px 5px #000033;
    -moz-box-shadow: 5px 5px 5px #000033;
    box-shadow: 5px 5px 5px #000033;}
#nav ul { list-style-type: square;
       margin: 0;
	   padding-left: 0;
	   font-size: .4 em; 
	   }
#nav a { text-decoration: none; }

#nav a:link { color: Black; }
#nav a:visited { color: Black; }
#nav a:hover { color: #black; }
                            
#content {
width: auto;
		opacity: 0.8;
       padding: 1px 20px 20px 30px;
	   background-color: #aaaaaa;
	   margin-left: 52px;
     margin-right: 52px;
      }

#content img, #content video, #content embed {float: left; padding: 20px; }
#content ul {list-style-position: inside; }
	
	
	#wrapper { 

    width: auto;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 5px 5px 5px #000033;
    -moz-box-shadow: 5px 5px 5px #000033;
    box-shadow: 5px 5px 5px #000033;
    }
    
    dt {
}
	
/* Bold Font Face*/	
title { 
 
          font-style: bold;
          }

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {

	font-family: Arial, Helvetica, sans-serif;
}


    
#address {font-size: 90%;}  

  

#label { 
		 text-align: left;
		 }
#input { margin-top: 10px;
        }
#textarea { margin-top: 10px; }

#mySubmit { margin-left: 110px;
			margin-bottom: 10px;
			}

#footer {
      font-size: 75%;
      font-family: Georgia, Times New Roman, Times, serif;
      font-style: italic;
      }
  table {
    border-collapse: collapse;
}



